<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SvUpdate</servlet-name>
        <servlet-class>com.lna.peliculas.cac.servlets.SvUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvDelete</servlet-name>
        <servlet-class>com.lna.peliculas.cac.servlets.SvDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvUpdate</servlet-name>
        <url-pattern>/html/SvUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvDelete</servlet-name>
        <url-pattern>/html/SvDelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
